body{
    background-image: url(view/fundo.jpg);
    
    color: darkred;
    padding-top: 20px;
    text-align: center;
    font-size: 20pt;
}

h1, h2, h3, p{
    background-color: rgba(250, 235, 215, 0.7);
}

button{
    background-color: darkslategrey;
    color: antiquewhite;
    font-family: 'Courier New', Courier, monospace;
    height: 40px;
    width: 80px;
    border-radius: 25%;
}

form label{
    background-color: rgba(250, 235, 215, 0.7);
    margin: 10px;
}

table{
    background-color: cadetblue;
    color: white;
    font-size: 20pt;
    width: 100%;
    border-collapse: collapse;
}

th{
    background-color: darkred;
    color: cadetblue;
}

td{
    padding: 10px;
}

a{
   color: cadetblue;
   font-size: 15pt;
   background-color: antiquewhite;
   padding: 5px;;
}

input[type=submit]{
    background-color: teal;
    color: darkred;
    height: 40px;
    width: 60px;
    border-radius: 25%;
    font-weight: bold;
}

.med1{
    background-color: aqua;
}
.med2{
    background-color: lightslategrey;
}
.med3{
    background-color: crimson;
}

.blink_me {
    animation: blinker 1s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }