.navegacao {
    background-color: blue;
}

.logotipo {
    
}

.texto {
    background-color: darkred;
    color: azure;
    text-align: center;
}

.carrossel {
    color: green;
    padding: 20px;
}

.mapa {
    background-color: yellow;
}

.formulario {
    background-color: gray;
}

.redes {
    background-color: green;
}