:root {
    --especial1: #f85e00ff;
    --divs: #ffc857ff;
    --especial2: #419d78ff;
    --fundo: #1f2041ff;
    --letra: #107896ff;
}

body {
    color: white;
    background-color: var(--fundo);
    text-align: justify;
}

h1, h2 {
    color: var(--especial1);
}

h3 {
    color: var(--especial2);
}

tr, td {
    text-align: center;
    padding: 5px;
}

button {
    background-color: var(--especial2);
}